@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";

.bg-navbar{
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgba(2,5,17,1), rgba(215,10,52,1) );
}


.bg-cardapio{
    margin-top: 2%;
    height: 100%;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgba(215,10,52,1) , rgba(2,5,17,1));
}